/* Create and import fontface font from DePixelBreit.ttf */
@font-face {
  font-family: 'DePixelBreit';
  src: url('DePixelBreit.ttf');
}
@font-face {
  font-family: 'Zakum';
  src: url('Ancient God.ttf');
}
@font-face {
  font-family: 'Magical';
  src: url('Magical Night.otf');
}