body {
  .bv-cv2-cleanslate .bv-core-container-38 .bv-action-bar-header,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-mbox-breadcrumb,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-content-placeholder .bv-write-review-label,
  [data-bv-show=rating_summary] .bv_main_container .bv_numReviews_text,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-mbox .bv-mbox-breadcrumb span.bv-mbox-breadcrumb-item,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-submission .bv-fieldsets,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-submission .bv-fieldsets #bv-fieldset-label-rating .bv-fieldset-label,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-submission .bv-fieldsets .bv-fieldset label,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-submission .bv-fieldsets .bv-fieldset .bv-fieldset-label,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-submission .bv-fieldsets .bv-form-actions .bv-submission-button-submit,
  .bv-cv2-cleanslate .bv-core-container-38 .bv-submission .bv-fieldset-agreements .bv-text-link {
    font-family: acumin-pro!important;
  }

  [data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist {
    display: none!important;
  }
  .white-overlay {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95) 50%, #ffffff);
  }

  .magnify-lens {
    width: 260px !important;
    height: 260px !important;
    box-shadow: 0 0 0 4px white !important;
    transform: scale(0.7) !important;
    border-radius: 100% !important;
  }

  .thumbnails {
    .slick-list ,
    .slick-track {
      width: 100% !important;
    }
    .slick-slide {
      width: 100% !important;
      @apply border w-8 h-8;

      &.slick-active {
        @apply border-black;
      }
    }
  }

  .product-slider {
    max-width: 100%;
  }
}
