#ffcf01.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  margin: auto;
}

.slick-slide img.slick-loading {
  border: 0;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-slide > * {
  outline: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider .slick-arrow {
  position: absolute;
  top: 0;
  outline: none;
  color: transparent;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  height: auto;
}

.slider:not(.feature-products-slider) .slick-arrow {
  height: 100%;
}

.slider .slider .slick-arrow {
  height: auto;
}

.slider .slick-prev {
  left: 0px;
}

.slider .slick-next {
  right: 0px;
}

.slider .slick-dots li {
  display: inline-block;
}

.slider .slick-dots li.slick-active button {
  font-weight: bold;
}

.slider li {
  display: inline-block;
}

.slider li.slick-active button {
  background-color: #ffcf01;
  border-color: #ffcf01;
}

.slider ul.list-reset {
  padding-bottom: 20px;
}

.slick-slider * {
  outline: 0 !important;
}

.slick-dots-dark li {
  display: inline-block;
}

.slick-dots-dark li.slick-active button {
  background-color: #ffcf01 !important;
}

.slick-arrows-above .slick-arrow {
  top: -35px !important;
}

.slick-arrows-above .slick-arrow.slick-next {
  right: 0px !important;
}
.slick-arrows-above .slick-arrow.slick-prev {
  right: 113px !important;
  left: auto !important;
}

@media (max-width: 767px) {
  .slick-hint-right {
    padding-right: 20vw !important;
    overflow: hidden;
  }
  .slick-hint-left {
    padding-left: 20vw !important;
    overflow: hidden;
  }
  .slick-overflow-right {
    padding-right: 40vw !important;
    overflow: hidden;
  }
  .slick-overflow-left {
    padding-left: 40vw !important;
    overflow: hidden;
  }
  .slick-hint-right .slick-list,
  .slick-hint-left .slick-list,
  .slick-overflow-right .slick-list,
  .slick-overflow-left .slick-list {
    overflow: visible;
    margin: 0;
  }
}

.slick-slider.thumbnails {
  position: static;
}

@media (min-width: 768px) {
  .slick-slider.product-slider.zoom {
    padding-left: 0rem !important;
  }
}

@media (max-width: 767px) {
  .slick-slider.product-slider .slick-arrow {
    height: auto !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}

.nav-slider .slick-arrow {
  width: 18px;
  height: 18px !important;
  top: calc(100% + 18px);
}

.nav-slider .slick-arrow.slick-prev {
  left: unset;
  right: 60px;
}

.nav-slider .slick-arrow.slick-next {
  right: 20px;
}


.mobile-navigation .slick-arrow{
  color: black;
  padding: 0 1rem;
  top: 55%;
  display: block;
}