@tailwind base;
@tailwind utilities;
@tailwind screens;
@tailwind components;

/* Fonts smoothing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.touch-action {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.undefined {
  background: red !important;
  color: red !important;
}

/* Globals */
html {
  padding: 0 !important;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-display: swap;
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

body {
  overflow-x: hidden;
  background: black;
  transition: margin-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.template-password {
  overflow: hidden !important;
  height: 100% !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: none;
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* A11y hidden  */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* Additional resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font: inherit;
}

p:after {
  content:"";
  display:inline-block;
  width:0px;
}

html {
  height: 100%;
}

body {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

input[type="checkbox"] {
  position: relative;
}

input[type="checkbox"]:checked:after {
  content: "";
  width: 6px;
  height: 11px;
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

div#filter-item.active:after {
  content: "";
  width: 6px;
  height: 11px;
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

input[type="input"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
}

button {
  color: inherit;
}

.border-error {
  border-color: #e33636 !important;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  height: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Additional utilities */
@responsive {
  /* Overflow */
  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-visible {
    overflow: visible;
  }

  .overflow-auto {
    overflow: auto;
  }

  /* A11y hidden  */
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  /* G-map UI overrides */
  .gm-style .gm-style-iw button {
    top: 0 !important;
    right: 0 !important;
  }

  /* Transforms */
  .transform-xy {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.absolute {
      position: absolute;
    }
  }

  .transform-currency {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.absolute {
      position: absolute;
    }
  }

  .transform-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    &.absolute {
      position: absolute;
    }
  }

  .transform-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &.absolute {
      position: absolute;
    }
  }

  /* Translations */
  .translate\:30 {
    transform: translateY(30%) translateX(30%);
  }

  .translate-y\:30-translate-x\:-30 {
    transform: translateY(30%) translateX(-30%);
  }

  .translate-y\:-50 {
    transform: translateY(-50%);
  }

  .translate-y\:-75 {
    transform: translateY(-75%);
  }

  .translate-y\:-100 {
    transform: translateY(-100%);
  }

  .translate-y\:-200 {
    transform: translateY(-200%);
  }

  .translate-y\:30 {
    transform: translateY(30%);
  }

  .translate-y\:50 {
    transform: translateY(50%);
  }

  .translate-y\:75 {
    transform: translateY(75%);
  }

  .translate-y\:100 {
    transform: translateY(100%);
  }

  .translate-y\:200 {
    transform: translateY(200%);
  }

  .translate-y\:-20x {
    transform: translateY(-20px);
  }

  .translate-y\:20x {
    transform: translateY(20px);
  }

  .translate-y\:0 {
    transform: translateY(0%);
  }

  .translate-x\:-25 {
    transform: translateX(-25%);
  }

  .translate-x\:-50 {
    transform: translateX(-50%);
  }

  .translate-x\:-75 {
    transform: translateX(-75%);
  }

  .translate-x\:-100 {
    transform: translateX(-100%);
  }

  .translate-x\:30 {
    transform: translateX(30%);
  }

  .translate-x\:50 {
    transform: translateX(50%);
  }

  .translate-x\:75 {
    transform: translateX(75%);
  }

  .translate-x\:100 {
    transform: translateX(100%);
  }

  .translate-x\:0 {
    transform: translateX(0%);
  }

  .translate-x\:-20x {
    transform: translateX(-20px);
  }

  .translate-x\:20x {
    transform: translateX(20px);
  }

  .translate-x\:-40x {
    transform: translateX(-40px);
  }

  .pin-t\:100 {
    top: 100%;
  }

  /* Rotations */
  .rotate\:0 {
    transform: rotate(0deg);
  }

  .rotate\:45 {
    transform: rotate(45deg);
  }

  .rotate\:180 {
    transform: rotate(180deg);
  }

  .rotate\:270 {
    transform: rotate(270deg);
  }

  .rotate\:315 {
    transform: rotate(315deg);
  }

  .rotate\:360 {
    transform: rotate(360deg);
  }

  /* Scaling */
  .transform-scale {
    transition: all 0.2s cubic-bezier(0.12, 0.89, 0.33, 0.99);
    transform: scale(1);
  }

  .group:hover {
    .group-hover\:transform-scale {
      transition: all 0.6s;
      transform: scale(1.1);
    }
    .group-hover\:translate-y\:100 {
      transform: translateY(100%);
    }
  }

  .transform-group:hover .transform-scale,
  .transform-scale:hover {
    transform: scale(1.1);
  }

  /* Animated links */
  .hover-border {
    display: inline-block;
    position: relative;
  }

  .hover-border:after {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.2s ease-in-out;
    transform: translateY(2px);
    @apply pt-0-2;
    @apply border-b;
    @apply border-transparent;
    @apply border-dashed;
  }

  .hover-border-group:hover .hover-border,
  .hover-border:hover:after {
    transform: translateY(0);
  }

  /* Animated arrows */
  .transform-group-arrow .transform-arrow,
  .transform-group-arrow .transform-arrow-rev {
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
  }

  .transform-group-arrow:hover .transform-arrow,
  .transform-arrow:hover {
    transform: translateX(5px);
  }

  .transform-group-arrow:hover .transform-arrow-rev,
  .transform-arrow:hover {
    transform: translateX(-5px);
  }

  /* Background ratios */
  .ratio-1\:1 {
    position: relative;
    overflow: hidden;
  }

  .ratio-1\:1:before {
    content: "";
    display: block;
    padding-top: 33.33%;
  }

  .ratio-3\:1 {
    position: relative;
    overflow: hidden;
  }

  .ratio-3\:1:before {
    content: "";
    display: block;
    padding-top: 33.33%;
  }
  .ratio-4\:1 {
    position: relative;
    overflow: hidden;
  }

  .ratio-4\:1:before {
    content: "";
    display: block;
    padding-top: 25%;
  }
  .ratio-5\:1 {
    position: relative;
    overflow: hidden;
  }

  .ratio-5\:1:before {
    content: "";
    display: block;
    padding-top: 20%;
  }

  .ratio-2\:1 {
    position: relative;
    overflow: hidden;
  }

  .ratio-2\:1:before {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .ratio-4\:2 {
    position: relative;
    overflow: hidden;
  }

  .ratio-4\:2:before {
    content: "";
    display: block;
    padding-top: 48.51852%;
  }

  .ratio-8\:9 {
    position: relative;
    overflow: hidden;
  }

  .ratio-8\:9:before {
    content: "";
    display: block;
    padding-top: 112.5%;
  }

  .ratio-16\:9 {
    position: relative;
    overflow: hidden;
  }

  .ratio-16\:9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  .ratio-16\:10 {
    position: relative;
    overflow: hidden;
  }

  .ratio-16\:10:before {
    content: "";
    display: block;
    padding-top: 62.5%;
  }

  .ratio-3\:2 {
    position: relative;
    overflow: hidden;
  }

  .ratio-3\:2:before {
    content: "";
    display: block;
    padding-top: 66.67%;
  }

  .ratio-4\:3 {
    position: relative;
    overflow: hidden;
  }

  .ratio-4\:3:before {
    content: "";
    display: block;
    padding-top: 75%;
  }

  .ratio-article {
    position: relative;
    overflow: hidden;
  }

  .ratio-article:before {
    content: "";
    display: block;
    padding-top: 64%;
  }

  .ratio-20\:17 {
    position: relative;
    overflow: hidden;
  }

  .ratio-20\:17:before {
    content: "";
    display: block;
    padding-top: 85%;
  }

  .ratio-1\:1 {
    position: relative;
    overflow: hidden;
  }

  .ratio-1\:1:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .ratio-9\:10 {
    position: relative;
    overflow: hidden;
  }

  .ratio-9\:10:before {
    content: "";
    display: block;
    padding-top: 111.11%;
  }

  .ratio-5\:6 {
    position: relative;
    overflow: hidden;
  }

  .ratio-5\:6:before {
    content: "";
    display: block;
    padding-top: 120%;
  }

  .ratio-9\:16 {
    position: relative;
    overflow: hidden;
  }

  .ratio-9\:16:before {
    content: "";
    display: block;
    padding-top: 177.78%;
  }

  .ratio-16\:9 {
    position: relative;
    overflow: hidden;
  }


  .ratio-16\:9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  .ratio-2\:3 {
    position: relative;
    overflow: hidden;
  }

  .ratio-2\:3:before {
    content: "";
    display: block;
    padding-top: 150%;
  }

  .ratio-3\:4 {
    position: relative;
    overflow: hidden;
  }

  .ratio-3\:4:before {
    content: "";
    display: block;
    padding-top: 133.33%;
  }

  .ratio-1\:2 {
    position: relative;
    overflow: hidden;
  }

  .ratio-1\:2:before {
    content: "";
    display: block;
    padding-top: 200%;
  }

  .ratio-1\:3 {
    position: relative;
    overflow: hidden;
  }

  .ratio-1\:3:before {
    content: "";
    display: block;
    padding-top: 300%;
  }

  .ratio-11\:20 {
    position: relative;
    overflow: hidden;
  }

  .ratio-11\:20:before {
    content: "";
    display: block;
    padding-top: 177.87%;
  }

  .ratio-1332\:352 {
    position: relative;
    overflow: hidden;
  }

  .ratio-1332\:352:before {
    content: "";
    display: block;
    padding-top: 26.42%;
  }

  .ratio-5\:8 {
    position: relative;
    overflow: hidden;
  }

  .ratio-5\:8:before {
    content: "";
    display: block;
    padding-top: 160%;
  }


  /* Nav ratios */
  .ratio-nav {
    position: relative;
    overflow: hidden;
  }

  .ratio-nav:before {
    content: "";
    display: block;
    padding-top: 91.56%;
  }

  .ratio-search-product {
    position: relative;
    overflow: hidden;
  }

  .ratio-search-product:before {
    content: "";
    display: block;
    padding-top: 120.8%;
  }

  @media (min-width: 768px) {
    .ratio-product {
      position: relative;
    }

    .ratio-product:before {
      content: "";
      display: block;
      padding-top: calc(100% + 84px);
    }

    .ratio-product-2 {
      position: relative;
    }

    .ratio-product-2:before {
      content: "";
      display: block;
      padding-top: calc(100% + 168px);
    }

    .ratio-double-product {
      position: relative;
    }

    .ratio-double-product:before {
      content: "";
      display: block;
      padding-top: calc(50% + 83.5px);
    }
  }

  @media (max-width: 767px) {
    .ratio-product {
      position: relative;
    }

    .ratio-product:before {
      content: "";
      display: block;
      padding-top: 136.170212765957%;
    }

    .ratio-double-product {
      position: relative;
    }

    .ratio-double-product:before {
      content: "";
      display: block;
      padding-top: 113.866666666667%;
    }
  }
}

.ratio-blog {
  position: relative;
}

.ratio-blog:before {
  content: "";
  display: block;
  padding-top: calc(100% + 180px);
}

.ratio-double-blog {
  position: relative;
}

.ratio-double-blog:before {
  content: "";
  display: block;
  padding-top: calc(50% + 168px);
}

.animation-ease-up {
  animation: ease-up 0.2s ease-in-out both 0.5s;
}

.animation-ease-down {
  animation: ease-down 0.5s ease-in-out both 0.5s;
}

.animation-errors {
  animation: shake 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.content-placeholder {
  position: relative;
  opacity: 0.5;
  background: linear-gradient(to right, #f0f3f3 30%, #e3e3e3 50%, #f0f3f3 80%);
  background-size: 500% 500%;
  animation: content-placeholder 1s linear infinite;

  &.text-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.large {
    width: 100%;
  }

  &.medium {
    width: 75%;
  }

  &.small {
    width: 50%;
  }

  &.xsmall {
    width: 25%;
  }
}

/* Transitions */
.transition {
  transition: all 0.25s ease-in-out;
}

.transition-fast {
  transition: all 0.2s ease-in-out;
}

.transition-slow {
  transition: all 0.5s ease-in-out;
}

.transition-delay-none {
  transition-delay: 0s;
}

.transition-delay-fast {
  transition-delay: 0.2s;
}

.transition-delay {
  transition-delay: 0.25s;
}

.transition-delay-slow {
  transition-delay: 0.5s;
}

.transition-opacity {
  will-change: opacity;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.transition-scale {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  position: relative;

  &.absolute {
    position: absolute;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-in-out;
  }
}

.transition-max-height {
  transition: max-height 0.5s ease-in-out;
  will-change: max-height;
}

.transition-ease-up {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover,
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.transition-ease-down {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5%);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.transition-fade-in {
  animation: fade-in 0.3s ease forwards;
}

.transition-header {
  transition: top 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.transition-annoucement {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes content-placeholder {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes ease-up {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.text-shadow {
  text-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.bg-gradient-overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.25)
  );
}

input::placeholder {
  opacity: 1;
}

.bottom-50 {
  bottom: 50px;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gradient-white {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.gradient-white-after {
  position: relative;

  &:after {
    content: "";
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      #ffffff
    );
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
  }
}

.navigation-grey-section {
  position: relative;
}

.navigation-grey-section:after {
  background-color: #f4f4f4;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 100%;
  width: 100vw;
  pointer-events: none;
}

.navigation-cta p {
  font-weight: 600;
}

.navigation-cta p a {
  border-bottom: 1px solid #232f3e;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.navigation,
.mobile-navigation {
  .slick-slider {
    position: relative;
  }
}

.mobile-navigation {
  .slick-slider {
    position: relative;
  }

  .slick-list {
    padding-left: 16px !important;
    padding-right: 20px !important;
  }
}

.theme-instagram,
.theme-product-recommended,
.theme-product-recent,
.cart-slider {
  .slick-slider {
    position: relative;
  }

  .slick-list {
    padding-left: 0 !important;
    padding-right: 20px !important;
  }
}

.dynamic-shop-look {
  li.slick-active {
    button {
      background: transparent;
      border: none;
      opacity: 1;
    }
  }

  .slick-dots {
    @apply absolute left-0 flex justify-center items-center w-full;
    bottom: 35px;
  }

  .slick-arrow {
    &.slick-next {
      @apply w-full bottom-0 h-3-2;
      top: auto;
    }
  }

  .slick-slide {
    &.slick-active {
      .content {
        transition: opacity 1000ms ease;
        @apply opacity-100;
      }
    }
  }

  @media (min-width: 1200px) {
    .slick-list {
      padding-top: 0 !important;
      padding-bottom: 128px !important;
      height: 928px !important;
    }
  }

  @media (min-width: 788px) {
    .slick-dots {
      @apply absolute left-0 inset-y-0 flex justify-center items-center w-6-4;
    }

    .slick-slide {
      padding-bottom: 128px;
    }
  }

  .mobile-slider {
    .slick-list {
      padding-left: 0 !important;
    }

    .slick-arrow {
      &.slick-next {
        width: 94px;
        height: 100%;
      }

      &.slick-prev {
        display: none !important;
      }
    }

    .slick-slide {
      opacity: 0.5;

      &.slick-active {
        opacity: 1;
      }
    }
  }

  .loop-products {
    > div {
      > a {
        width: 260px;
      }
    }
  }
}

.dynamic-collection {
  .slick-list {
    padding-left: 0 !important;
  }

  .slider {
    .slick-arrow {
      height: auto;
      bottom: 0;

      &.slick-next {
        left: 40px;
        right: auto;
      }
    }
  }
}

.dynamic-featured-products {
  .sticky-link {
    bottom: 64px;
  }
}

.backdrop-blur {
  backdrop-filter: blur(2px);
}

select {
  &:invalid {
    color: rgba(0, 0, 0, 0.5);
  }

  [disabled] {
    color: rgba(0, 0, 0, 0.5);
  }
}

/* @media screen and (min-width: 768px) {
  .sticky-inner-wrapper {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.25s;
  }
} */

.richtext ul {
  list-style: none;
  padding-top: 9px;

  li {
    margin-bottom: 10px;
    display: flex;
  }

  li:before {
    content: "•";
    font-size: 1rem;
    padding-right: 1rem;
  }

  li.list-style-none::before {
    display: none;
  }
}

.richtext h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.richtext h2 {
  font-family: "Europa";
  font-size: 2.25rem;
  font-weight: 400;
}

.richtext h3 {
  font-family: "Europa";
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 12px;
}

.richtext h4 {
  font-family: "Europa";
  font-size: 1rem;
  font-weight: 400;
}

.richtext h5 {
  font-family: "Europa";
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.richtext h6 {
  font-family: "Europa";
  font-size: 0.75rem;
  font-weight: 400;
}

.richtext p {
  font-family: "Europa";
  font-size: 1rem;
  font-weight: 400;
}

.richtext u {
  font-family: "Europa";
}

.react-datepicker-wrapper {
  width: 100%;
}

.richtext-link a {
  text-decoration: underline;
}

input[type="submit"].shopify-challenge__button {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  height: 40px;
  border: 1px solid black;
  padding: 0 40px;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  transition: all 0.25s ease-in-out;
}

input[type="submit"].shopify-challenge__button:hover {
  background-color: black;
  color: white;
}

.player-wrapper {
  position: relative;
  padding-top: 177.78%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.skip-link {
  background: #fff;
  color: #000;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 100;
  display: none;
}

.skip-link:focus {
  transform: translateY(0%);
}

.slick-slider iframe {
  min-height: 596px;
}

@media (max-width: 600px) {
  .slick-slider iframe {
    min-height: 320px;
  }
}

@media (min-width: 768px) {
  .md\:ratio-16\:9 {
    position: relative;
    overflow: hidden;
  }
  .md\:ratio-16\:9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
}

.dynamic-hero iframe{
  width: 100%;
  height: 100%;
}

.dynamic-hero-h {
  overflow: hidden;
}

.disabled-line{
  transform: translateY(-20px) translateX(-7px) rotate(-45deg)
}
