<div class="xflex xitems-center xjustify-center xbg-black">
  <img 
    src="{{ "GrendelHome.jpeg" | asset_url }}"
    width="60%"
    height="auto"
    />
</div>

{% schema %}
{
  "name": "Grendel",
  "tag": "section",
  "class": "grendel-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "presets": [
    {
      "name": "Grendel"
    }
  ]
}
{% endschema %}
