{% assign id = "now" | date: "%N" | modulo: 1000 | plus: 0 %}
<div 
  class="
    x-bg-llgray
    x-overflow-hidden x-max-w-full x-flex 
    x-relative x-justify-center x-bg-black
  "
>
  <div class="x-flex x-flex-row x-justify-center x-w-full x-h-full">
    <div class="x-flex x-flex-col x-w-full x-max-w-full x-items-center">
      <div
        class="x-w-full x-p-8"
      >
        <div
          style="
            background-image: url({{ "Zakum Altar Extended.png" | asset_url }});
            image-rendering: pixelated;
          "
          class="
            x-w-full x-h-400px md:x-h-600px 
            x-flex x-items-center x-justify-center
            x-bg-center x-bg-no-repeat x-bg-cover
          "
        >
          <div 
            style="text-shadow: 10px 10px 0px #2E2E2E"
            class="x-font-zakum x-text-50px md:x-text-60px x-text-white"
          >ZAKUM</div>
        </div>
      </div>
      <div
        class="
          x-grid x-grid-cols-2 md:x-grid-cols-4 x-gap-30px
          x-w-1100px
          x-pt-30 md:x-pt-15 x-pb-30 md:x-pb-15 x-max-w-full
        "
      >
        {%- for product in section.settings.collection.products -%}
          {% render 'product-card',
            product: product
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Zakum",
  "tag": "section",
  "class": "zakum-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Zakum"
    }
  ]
}
{% endschema %}
