<div class="xflex xitems-center xjustify-center xbg-black">
  <img 
    src="{{ "Zakum Altar.png" | asset_url }}"
    width="auto"
    height="auto"
    />
</div>

{% schema %}
{
  "name": "Zakum",
  "tag": "section",
  "class": "zakum-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "presets": [
    {
      "name": "Zakum"
    }
  ]
}
{% endschema %}
